<h1>ATHLETES WORLD RANKINGS</h1>

<table>
  <thead>
    <tr>
      <div class='d-flex input-group-prepend w-100 flex-grow-1'>
      <%= render 'shared/search' %>
      </div>
    </tr>
  </thead>

  <tbody>
    <% @athletes.each do |athlete| %>
      <tr>
        <td><%= athlete.first_name %> <%= athlete.last_name %></td>
        <td><%= athlete.grad_year %></td>
        <td><%= athlete.nationality %></td>
        <td><%= athlete.team %></td>
        <td><%= athlete.team_url %></td>
        <td><%= athlete.rating %></td>
        <td><%= link_to 'Show', athlete %></td>
        <td><%#= link_to '➕', () %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'My Recruits', recruits_path %>
