<div class="mt-5 container athlete-index">

  <h1>Athletes</h1>


  <div class='input-group-prepend'>
        <%= render 'shared/search' %>
  </div>


  <table>
    <thead>
      <tr class="athlete-table-header">
        <td class="text-center">Name</td>
        <td class="text-center">Graduation Year</td>
        <td class="text-center">Nationality</td>
        <td class="text-center">Team</td>
        <td class="text-center">Team URL</td>
        <td class="text-center">Rating</td>
      </tr>
    </thead>

    <tbody>
      <% @athletes.each do |athlete| %>
        <tr class="athlete-table-content">
          <td><%= athlete.first_name %> <%= athlete.last_name %></td>
          <td class="text-center"><%= athlete.grad_year %></td>
          <td class="text-center"><%= athlete.nationality %></td>
          <td class="text-center"><%= athlete.team %></td>
          <td class="text-center"><%= athlete.team_url %></td>
          <td class="text-center"><%= athlete.rating %></td>
          <td><%= link_to 'VIEW', athlete %></td>
          <!-- <td> --><%#= link_to '➕', () %><!-- </td> -->
        </tr>
      <% end %>
    </tbody>
  </table>

</div>
