<div class="my-4 py-5">
  <div class='mx-5 mb-3 athlete-index-card'>
  <div class="my-1 container athlete-index">


    <div class="table-responsive">

    <table class="table table-striped table-hover" id="athlete-index">
      <h1>Athletes</h1>
      <thead>
          <th>Name</th>
          <th>Graduation Year</th>
          <th class="text-center">Nationality</th>
          <th class="text-center">Team</th>
          <th class="text-center">Rating</th>
          <% if policy(@athlete).create? %>
            <th>
              Add
            </th>
          <% end %>
      </thead>
      <tbody>
        <% @athletes.each do |athlete| %>
          <tr class="athlete-table-content">
            <td>
              <%= link_to athlete_path(athlete) do %>
                <div class='d-flex justify-content-start'>
                  <%= image_tag athlete.photo, class: 'avatar' %>
                <span class='name d-flex ml-4'>
                    <%= athlete.first_name %> <%= athlete.last_name %>
                </span>
                </div>
              <% end %>
            </td>
            <% case athlete.grad_year %>
              <% when 2022 %>
                <td class="text-center grad_year text-danger"><%= athlete.grad_year %></td>
              <% when 2023 %>
                <td class="text-center grad_year text-primary"><%= athlete.grad_year %></td>
              <% when 2024 %>
                <td class="text-center grad_year text-info"><%= athlete.grad_year %></td>
              <% when 2025 %>
                <td class="text-center grad_year text-success"><%= athlete.grad_year %></td>
            <% end %>
            <td class="text-center">
              <div class='d-flex justify-content-around'>
                <%= c = ISO3166::Country.find_country_by_name(athlete.nationality).emoji_flag if ISO3166::Country.find_country_by_name(athlete.nationality)  %>
                <span class='nationality d-flex ml-1'>
                  <%= athlete.nationality %>
                </span>
              </div>
            </td>
            <td class="text-center"><%= athlete.athlete_team %></td>
            <td class="text-center rating"><%= athlete.rating %></td>
            <td class="text-center">
              <% if policy(@athlete).create? %>
                <%= link_to athlete_recruits_path(athlete), method: :post, remote: true do %>
                  <i class="fas fa-plus"></i>
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
      </div>
    </table>
  </div>
  </div>
  </div>

</div>



