<h1>ATHLETES WORLD RANKINGS</h1>

<table>
  <!-- <thead>
    <tr>
      <th>This is where my searbar is about to go</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead> -->

  <tbody>
    <% @athletes.each do |athlete| %>
      <tr>
        <td><%= athlete.first_name %> <%= athlete.last_name %></td>
        <td><%= athlete.grad_year %></td>
        <td><%= athlete.nationality %></td>
        <td><%= athlete.team %></td>
        <td><%= athlete.team_url %></td>
        <td><%= athlete.rating %></td>
        <td><%= link_to 'Show', athlete %></td>
        <td><%#= link_to '➕', () %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'My Recruits', recruits_path %>
