<div class="mt-5 athlete-show">
  <div class="pt-5">

    <h1 class = "card-title"><%= @athlete.first_name %> <%= @athlete.last_name %></h1>

    <div class="d-flex mb-5">
      <div>
        <%= image_tag "golf_girl.png", class: "card-img-top" %>
      </div>

      <div>
        <p><strong>Team: </strong><%= @athlete.athlete_team %> - <%= @athlete.athlete_team_url %></p>
        <p><strong>Graduation Year: </strong><%= @athlete.grad_year %></p>
        <p><strong>Nationality: </strong><%= @athlete.nationality %></p>
        <p><strong>Rating: </strong><%= @athlete.rating %></p>
      </div>
    </div>

  <div class="card py-1 px-3">
    <p> Notes: </p>
  </div>

    <div class="mt-3 row justify-content-center">
      <div class="btn-group btn-group-lg" role="group" aria-label="Add to Recruiting List">
        <p>
          <%= simple_form_for([@athlete, @recruit]) do |f| %>
          <%= f.submit "Add to Recruiting List", class: "btn" %>
          <% end %>
        </p>
      </div>
    </div>
  </div>
</div>
