<div class="my-5 py-2">

  <div class="athlete-show">
    <div class="d-flex align-items-center pt-5">
      <%= link_to athlete_path(@athlete.id.to_i - 1), class: "mr-5" do %><i class="fas fa-reply"></i><% end %>

      <div class="athlete-show-card">
      <div class="athlete-show-content">
          <h1 class = "card-title"><%= @athlete.first_name %> <%= @athlete.last_name %></h1>
        <div class="d-flex mb-5">
         <!--  <%#= link_to athlete_recruit_path(@athlete.recruit.id.to_i - 1) do %><i class="fas fa-reply">Previous Athlete</i><%# end %> -->

          <div>
            <%= image_tag @athlete.photo, class: "card-img-top" %>
          </div>

          <div>
            <p>Team: <strong>  <%= @athlete.athlete_team %> - <%= @athlete.athlete_team_url %></strong></p>
            <p>Graduation Year: <strong><%= @athlete.grad_year %></strong></p>
            <p>Nationality: <strong><%= @athlete.nationality %>  <%= c = ISO3166::Country.find_country_by_name(@athlete.nationality).emoji_flag if ISO3166::Country.find_country_by_name(@athlete.nationality)  %></strong></p>
            <p>Rating: <strong><%= @athlete.rating %></strong></p>
          </div>
          <%# if @athlete.teams.include?(current_user.team) %>
          <!-- <%#= link_to athlete_recruit_path(@athlete.recruit.id.to_i + 1) do %><i class="fas fa-share">Next Recruit</i><%# end %> -->
        </div>

      <div class="card py-1 px-3">
        <p> Notes: </p>
      </div>

        <div class="mt-3 row justify-content-center">
          <div class="btn-group btn-group-lg" role="group" aria-label="Add to Recruiting List">
            <p>
              <%= simple_form_for([@athlete, @recruit]) do |f| %>
              <%= f.submit "Add to Recruiting List", class: "btn" %>
              <% end %>
            </p>
          </div>
        </div>

      </div>
      </div>
      <%= link_to athlete_path(@athlete.id.to_i + 1), class: "ml-5" do %><i class="fas fa-share"></i><% end %>
    </div>
  </div>

</div>
