<div class="my-5 schedule-index">
  <h1 class="mb-5">Available Schedules</h1>

  <ul class="mr-5 d-flex justify-content-between">
    <% @schedules.each do |schedule| %>
      <li>
        <div class="d-flex justify-content-center">
          <%= link_to 'VIEW', schedule_path(schedule), class: "select-calendar-link px-4 py-2" %>
        </div>
        <div class="index-calendar">
          <%= month_calendar(attribute: :start_date, events: schedule.events) do |date, events| %>
            <%= date.day %>

              <% events.each do |event| %>

                <% event.recruits.each do |recruit| %>

                <% if recruit.athlete.grad_year == 2022 %>
                  <a href="events/<%= event.id %>" class="calendar list-group-item list-group-item-action list-group-item-danger d-flex justify-content-between">
                    <%= event.start_time.to_s(:time) %>-<%= recruit.athlete.first_name %>
                  </a>
                <% elsif recruit.athlete.grad_year == 2023 %>
                  <a href="events/<%= event.id %>" class="calendar list-group-item list-group-item-action list-group-item-primary d-flex justify-content-between">
                    <%= event.start_time.to_s(:time) %>-<%= recruit.athlete.first_name %>
                  </a>
                <% elsif recruit.athlete.grad_year == 2024 %>
                  <a href="events/<%= event.id %>" class="calendar list-group-item list-group-item-action list-group-item-info d-flex justify-content-between">
                    <%= event.start_time.to_s(:time) %>-<%= recruit.athlete.first_name %>
                  </a>
                <% else %>
                  <a href="events/<%= event.id %>" class="calendar list-group-item list-group-item-action list-group-item-success d-flex justify-content-between">
                    <%= event.start_time.to_s(:time) %>-<%= recruit.athlete.first_name %>
                  </a>
                <% end %>

                <% end %>
              <% end %>
          <% end %>
        </div>
      </li>
    <% end %>
  </ul>
</div>

