<div class="calendar-card">
  <%= month_calendar(attribute: :start_date, events: schedule.events) do |date, events| %>
    <%= date.day %>

    <% events.each do |event| %>
      <% schedule_event = ScheduleEvent.find_by event: event, schedule: schedule %>
      <% team_members = [] %>
      <% current_user.team.users.each do |user| %>
      <% team_members << (@user = user.first_name) if user.unavailable_days.map { |ud_hash| ud_hash[:date] }.exclude?(event.start_date) %>
      <% end %>

      <% event.recruits.each do |recruit| %>

      <% if recruit.athlete.grad_year == 2022 %>
          <a href="/events/<%= event.id %>" class="calendar btn-sm list-group-item list-group-item-action list-group-item-danger d-flex justify-content-between" type='button'>
            <%= Time.at((event.start_time.to_time.to_i / 600.0).round * 600).to_datetime.to_s(:time) %>-<%= recruit.athlete.first_name %>
          </a>
        <div class='d-block text-center'>
        <div class="btn-group bg-danger">
          <p class="coach-assigned">Assigned to: <%= schedule_event.user.first_name.upcase if schedule_event.user %></p>
          <div class='dropdown'>
            <button type="button" class="btn btn-sm dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="dropdownMenuButton">
              <span class="sr-only"></span>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <%= render partial: 'shared/assignedform', locals: { schedule_event: schedule_event, team_members: team_members } %>
            </div>
          </div>
          </div>
      </div>

      <% elsif recruit.athlete.grad_year == 2023 %>
        <a href="/events/<%= event.id %>" class="calendar btn-sm list-group-item list-group-item-action list-group-item-primary d-flex justify-content-between" type='button'>
          <%= Time.at((event.start_time.to_time.to_i / 600.0).round * 600).to_datetime.to_s(:time) %>-<%= recruit.athlete.first_name %>
        </a>
        <div class='d-block text-center'>
        <div class="btn-group bg-primary">
          <p class="coach-assigned">Assigned to: <%= schedule_event.user.first_name.upcase if schedule_event.user %></p>
        <div class='dropdown'>
          <button type="button" class="btn btn-sm dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="dropdownMenuButton">
            <span class="sr-only"></span>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <%= render partial: 'shared/assignedform', locals: { schedule_event: schedule_event, team_members: team_members } %>
          </div>
        </div>
        </div>
      </div>

      <% elsif recruit.athlete.grad_year == 2024 %>
        <a href="/events/<%= event.id %>" class="calendar btn-sm list-group-item list-group-item-action list-group-item-info d-flex justify-content-between" type='button'>
          <%= Time.at((event.start_time.to_time.to_i / 600.0).round * 600).to_datetime.to_s(:time) %>-<%= recruit.athlete.first_name %>
        </a>
        <div class='d-block text-center'>
        <div class="btn-group bg-info">
          <p class="coach-assigned">Assigned to: <%= schedule_event.user.first_name.upcase if schedule_event.user %></p>
        <div class='dropdown'>
          <button type="button" class="btn btn-sm dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="dropdownMenuButton">
            <span class="sr-only"></span>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <%= render partial: 'shared/assignedform', locals: { schedule_event: schedule_event, team_members: team_members } %>
          </div>
        </div>
        </div>
        </div>

      <% else %>
        <a href="/events/<%= event.id %>" class="calendar btn-sm list-group-item list-group-item-action list-group-item-success d-flex justify-content-between" type='button'>
         <%= Time.at((event.start_time.to_time.to_i / 600.0).round * 600).to_datetime.to_s(:time) %>-<%= recruit.athlete.first_name %>
        </a>
        <div class='d-block text-center'>
        <div class="btn-group bg-success">
          <p class="coach-assigned">Assigned to: <%= schedule_event.user.first_name.upcase if schedule_event.user %></p>
        <div class='dropdown'>
          <button type="button" class="btn btn-sm dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="dropdownMenuButton">
            <span class="sr-only"></span>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <%= render partial: 'shared/assignedform', locals: { schedule_event: schedule_event, team_members: team_members } %>
          </div>
        </div>
        </div>
      </div>
      <% end %>
    <% end %>
    <% end %>
  <% end %>
</div>

<!-- , attribute: :date,  events: @unavailable_days  -->
