<%= month_calendar(events: @events) do |date, @events| %>
  <%= date %>

  <% events.each do |event| %>
    <div>
      <%= event.start_date %>
      <%= event.start_time %>
      <%= event.athletes %>
    </div>
  <% end %>
<% end %>
