<%= month_calendar(attribute: :start_date, events: @events) do |date, events| %>
  <%= date %>

  <% events.each do |event| %>
    <div>
      <%= event.start_date %>
      <%= event.start_time %>
      <% event.athletes.each do |athlete| %>
        <%= athlete.first_name %> <%= athlete.last_name %>
        <%= athlete.grad_year %>
      <% end %>
    </div>
  <% end %>
<% end %>
