<h1>Event</h1>
<p><%= @event.start_date  %></p>
<p><%= @event.start_time  %></p>

<% @event.recruits.each do |recruit| %>
  <p><%= recruit.athlete.first_name %>  <%= recruit.athlete.last_name %></p>
  <p><%= recruit.athlete.grad_year %></p>
<% end %>

