<%= render 'shared/header' %>
<%#= render 'sidenav' %>
<div class="container-fluid mt--6">
  <div class="row">
    <div class="col-xl-10">
      <%= render partial: 'events/month', locals: { schedule: @schedule, schedule_event: @schedule_event }  %>
    </div>
    <div class="col-xl-2">
      <%= render 'shared/form' %>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-7">
      <%= render 'athletes/athletes'%>
    </div>
    <div class="col-xl-5">
      <%= render 'recruits/recruits' %>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-9">
      <%= render partial: 'schedules/tri_month', locals: { schedule: @schedule, schedule_event: @schedule_event }   %>

      <%= render partial: 'schedules/week', locals: { schedule: @schedule, schedule_event: @schedule_event }   %>
    </div>
    <div class='col-xl-3'>
      <%= render partial: 'week', locals: { schedule: @schedule, schedule_event: @schedule_event }   %>
    </div>
     <div class="my-5 py-5"></div>
  </div>
</div>
