<div class="my-5 py-5">

<div class="mx-5 recruit-index-card">
  <div class="mt-1 mb-5 container recruit-index">

    <h1>My Recruits</h1>

      <div class="recruit-index-top">
        <div class="d-flex justify-content-center mt-3">
          <%= link_to 'Generate Schedules', schedules_path, class: "p-3" %>
        </div>
      </div>

      <table class="table table-striped table-hover" id="recruit-index">
        <thead>
          <th>Name</th>
          <th>Graduation Year</th>
          <th>Nationality</th>
          <th>Team</th>
          <th>Team URL</th>
          <th>Rating</th>
          <th></th>
        </thead>

        <tbody>
          <% @recruits.each do |recruit| %>

            <% case recruit.athlete.grad_year %>
              <% when 2022 %>
                <tr class="recruit-table-content table-danger">
                  <%= link_to athlete_path(recruit.athlete) do %>
                  <td>
                    <%= image_tag recruit.athlete.photo, class: 'avatar-small' %>
                    <%= recruit.athlete.first_name %> <%= recruit.athlete.last_name %>
                  </td>
                  <% end %>
                  <td class="text-center grad_year"><%= recruit.athlete.grad_year %></td>
                  <td class="text-center">
                    <div class='d-flex justify-content-around'>
                      <%= c = ISO3166::Country.find_country_by_name(recruit.athlete.nationality).emoji_flag if ISO3166::Country.find_country_by_name(recruit.athlete.nationality)  %>
                      <span class='nationality d-flex ml-1'>
                        <%= recruit.athlete.nationality %>
                      </span>
                    </div>
                  </td>
                  <td class="text-center"><%= recruit.athlete.athlete_team %></td>
                  <td class="text-center"><%= recruit.athlete.athlete_team_url %></td>
                  <td class="text-center rating"><%= recruit.athlete.rating %></td>
                  <td><%= link_to recruit_path(recruit), method: :delete, data: { confirm: "Are you sure?" }, remote: true do %><i class="fas fa-trash-alt"></i><% end %></td>
                </tr>

              <% when 2023 %>
                <tr class="recruit-table-content table-primary">
                  <%= link_to athlete_path(recruit.athlete) do %>
                  <td>
                    <%= image_tag recruit.athlete.photo, class: 'avatar-small' %>
                    <%= recruit.athlete.first_name %> <%= recruit.athlete.last_name %>
                  </td>
                  <% end %>
                  <td class="text-center grad_year"><%= recruit.athlete.grad_year %></td>
                  <td class="text-center">
                    <div class='d-flex justify-content-around'>
                      <%= c = ISO3166::Country.find_country_by_name(recruit.athlete.nationality).emoji_flag if ISO3166::Country.find_country_by_name(recruit.athlete.nationality)  %>
                      <span class='nationality d-flex ml-1'>
                        <%= recruit.athlete.nationality %>
                      </span>
                    </div>
                  </td>
                  <td class="text-center"><%= recruit.athlete.athlete_team %></td>
                  <td class="text-center"><%= recruit.athlete.athlete_team_url %></td>
                  <td class="text-center rating"><%= recruit.athlete.rating %></td>
                  <td><%= link_to recruit_path(recruit), method: :delete, data: { confirm: "Are you sure?" }, remote: true do %><i class="fas fa-trash-alt"></i><% end %></td>
                </tr>


              <% when 2024 %>
                <tr class="recruit-table-content table-info">
                  <%= link_to athlete_path(recruit.athlete) do %>
                    <td>
                    <%= image_tag recruit.athlete.photo, class: 'avatar-small' %>
                      <%= recruit.athlete.first_name %> <%= recruit.athlete.last_name %>
                    </td>
                  <% end %>
                  <td class="text-center grad_year"><%= recruit.athlete.grad_year %></td>
                  <td class="text-center">
                    <div class='d-flex justify-content-around'>
                      <%= c = ISO3166::Country.find_country_by_name(recruit.athlete.nationality).emoji_flag if ISO3166::Country.find_country_by_name(recruit.athlete.nationality)  %>
                      <span class='nationality d-flex ml-1'>
                        <%= recruit.athlete.nationality %>
                      </span>
                    </div>
                  </td>
                  <td class="text-center"><%= recruit.athlete.athlete_team %></td>
                  <td class="text-center"><%= recruit.athlete.athlete_team_url %></td>
                  <td class="text-center rating"><%= recruit.athlete.rating %></td>
                  <td><%= link_to recruit_path(recruit), method: :delete, data: { confirm: "Are you sure?" }, remote: true do %><i class="fas fa-trash-alt"></i><% end %></td>
                </tr>


              <% when 2025 %>
                <tr class="recruit-table-content table-success">
                  <%= link_to athlete_path(recruit.athlete) do %>
                    <td>
                    <%= image_tag recruit.athlete.photo, class: 'avatar-small' %>
                    <%= recruit.athlete.first_name %> <%= recruit.athlete.last_name %>
                    </td>
                  <% end %>
                <td class="text-center grad_year"><%= recruit.athlete.grad_year %></td>
                <td class="text-center">
                  <div class='d-flex justify-content-around'>
                    <%= c = ISO3166::Country.find_country_by_name(recruit.athlete.nationality).emoji_flag if ISO3166::Country.find_country_by_name(recruit.athlete.nationality)  %>
                    <span class='nationality d-flex ml-1'>
                      <%= recruit.athlete.nationality %>
                    </span>
                  </div>
                </td>
                <td class="text-center"><%= recruit.athlete.athlete_team %></td>
                <td class="text-center"><%= recruit.athlete.athlete_team_url %></td>
                <td class="text-center rating"><%= recruit.athlete.rating %></td>
                <td><%= link_to recruit_path(recruit), method: :delete, data: { confirm: "Are you sure?" }, remote: true do %><i class="fas fa-trash-alt"></i><% end %></td>
              </tr>

          <% end %>
          <% end %>
        </tbody>
      </table>
  </div>
</div>
</div>
