<!DOCTYPE html>
<html>
  <head>
    <title>Recruitup</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta property="og:image" content='https://d3j2bju5c7tc02.cloudfront.net/2019_43/cropped-637074392495871722iStock510398322.jpg'/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.css">
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body style="background-color: #ECECEC">
    <%= render partial: 'shared/navbar', locals: { chatroom: @chatroom, message: @message } %>
    <%= render 'shared/flashes' %>

    <%= yield %>

    <%= render 'shared/footer' %>
  </body>
</html>
